.ExchangeRequest{
    width: 100%;
    background-color: white;
    padding-top: 10px;
    height: 670px;
}
.ExchangeRequest .ex-title{
    width: 100%;
    text-align: center;
}
.RequestExchange{
    width: 100%;
    background-color: white;
    padding-top: 10px;
    height: 670px;
}
.RequestExchange .ex-title{
    width: 100%;
    text-align: center;
}
.HistoryExchange{
    width: 100%;
    background-color: white;
    padding-top: 10px;
    height: 670px;
}
.HistoryExchange .ex-title{
    width: 100%;
    text-align: center;
}