*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.App{
    width: 100%;
    background-color: rgba(221, 221, 221, 0.411);
}
.wrap{
    width: 100%;
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
}